/* Colors */
:root {
  --white: #fff;
  --black: #000;
  --darkblue: rgb(0, 23, 235);
  --lightblue: rgb(0, 204, 255);
  --green: #2AFF00;
}

/* Universal  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* Body  */
body {
  font-family: Burbank, sans-serif;
  background-color: #181a1b;
}

a {
  text-decoration: none;
}

/* Custom font  */
@font-face {
  font-family: Burbank;
  src: url(fonts/Burbank.otf);
}

/* Nav bar  */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #181a1b;
  position: static;
  padding: 8px;
  height: 2.75rem;
}

.nav-bar {
  width: 100%;
}

.nav-bar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 25px;
}

/* Link color changes */
* :link {
  color: var(--lightblue);
}

* :visited {
  color: var(--darkblue);
}

* :hover {
  color: var(--white);
}

/* Hero settings */
.hero {
  font-size: 39px;
  background-image: url(images/heroimg.png);
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  padding: 150px 25px;
  margin: 0;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--white);
}

.hero-title {
  font-size: 90px;
  color: var(--lightblue);
}

.hero-sub {
  color: var(--darkblue);
  font-style: italic;
}

/* About Me Section  */
.about-me {
  padding: 1.5rem 0;
  text-align: center;
  -webkit-text-stroke-width: .2px;
}

.subtitle {
  font-size: 3rem;
  margin: 1rem 0;
  color: var(--lightblue);
  -webkit-text-stroke-color: var(--black);
}

.about-me-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-message {
  font-size: 1.8rem;
  color: var(--white);
  -webkit-text-stroke-color: var(--black);
}

.about-me-img {
  width: 200px;
  border: 5px solid var(--lightblue);
  background-repeat: no-repeat;
}

/* My Work Section  */
.my-work {
  background-color: #0b0c0c;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 25px;
}

.my-work-content {
  justify-content: space-evenly;
  align-items: center;
}

.my-work-message {
  font-size: 25px;
  color: var(--white);
  -webkit-text-stroke-color: var(--black);
  padding-bottom: 1rem;
}

/* Displays Horiseon Challenge and Portfolio */
.my-work-1 {
  width: 200px;
  background-repeat: no-repeat;
  border: solid 3px black;
  margin-top: 4rem;
}

.my-works {
  margin-top: 10px;
  font-size: 1.8rem;
  color: var(--green);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: var(--black);
}

.my-work-2 {
  font-size: 2rem;
  color: var(--white);
  -webkit-text-stroke-color: var(--black);
  padding-bottom: 1rem;
}

/* Contact Me Section  */
.contact-me {
  text-align: center;
  padding: 1.5rem 0;
}

.contact-me-contact {
  font-size: 25px;
  color: var(--white);
  margin-bottom: 4rem;
  font-size: 25px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: var(--black);
}